/* Inserta tu código aqui */
*{
	font-family: sans-serif;
}


h1 {
    color: black;
    font-size: 36px;
    padding-top: 6px;
    text-align: center;
}

header p, header .glyphicon-home{
	color: black;
	font-size: 17px;
}

header .col-md-7 {
    margin-top: 28px;
}

header .col-md-3 {
padding-top: 9px;
}

input.text-left{
	border: 1px solid black;
    padding-left: 1px;
    font-size: 16px;
    padding: 3px 7px;
    width: 50%;
}

input.enviar{
    border-radius: 5px;
    background-color: #E6E6E6;
    font-size: 19px;
    border: 1px solid black;
    padding: 2px 17px;
	width: 30%;
}

header .bold{
	font-size: 24px;
    padding-right: 15px;
}

/**NAV******/

.navbar-default {
    background-color: #D6D6D6;
    padding-top: 25px;
}

.nav-tabs>li>a, .nav-tabs>li.active>a{
	color: black;
	font-size: 17px;
    padding-left: 26px;
    padding-right: 26px;
    border: none;
    border-radius: 0px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: black;
}
 /**CUERPO**********/

 .row{
 	margin-right: 0;
 	margin-left: 0;
 }
.cuerpo{
	margin-top: 25px;
	margin-bottom: 25px;
}

.articulo{
	border-bottom: 1px solid #D6D6D6;
	padding-top: 5px;
    padding-bottom: 8px;
    padding-right: 15px;
}

.border-none{
	border-color: transparent;
}
.cuadro-gray-articulo{
	background-color: #929292;
    color: white;
    width: 150px;
    font-size: 15px;
    padding: 4px 10px;
}

.cuadro-gray-articulo p, .cuadro-black-articulo p{
	margin: 0;
} 


.cuadro-black-articulo{
	background-color: black;
    color: white;
    padding: 2px 28px;
    font-size: 11px;
    margin-right: 10px;
}

.clase-articulo{
    font-size: 11px;
    color: black;
    font-weight: bold;
    padding: 11px 0px;
}

.clase-articulo span{
	color: #A4A4A4;
    font-size: 11px;
    font-weight: normal;
}

.clase-articulo a{
    text-decoration: underline;
    color: black;
}


.titulo-articulo{
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.texto-articulo{
    color: #A3A3A3;
    font-size: 12px;
    text-align: justify;
    padding: 3px 0px;
}

.glyphicon-bookmark{
	font-weight: 700;

}

.ver-mas, .tags{
    color: black;
    font-size: 12px;
    font-weight: bold;
    padding-right: 65px;
}

.tags{
	white-space: pre;
}

.tags a{
    color: #6F6F6F;
    text-decoration: underline;
}

.foto{
	background-color: #AAAAAA;
	color: black;
	width: 100%;
	height: 177px;
	margin-bottom: 5px;
	
}

.foto p{
	margin: auto;
	text-align: center;
	font-size: 17px;
	padding-top: 80px;

}

.agenda .texto-articulo{
	line-height: ;
}

video{
	background-color: white;
	border: 1px solid black;
	width: 100%;
	height: 215px;
}

.bg-light-gray .ver-mas{
	margin-right: 3%;
}

.bg-light-gray .clase-articulo{
	padding-top: 0;
	padding-left: 10px;
}

.agenda .articulo{
	padding-top: 12px;
	padding-bottom: 20px;
}



.fecha{
	color: black;
	background-color: #AAAAAA;
	height: 75px;
	width: 75px;
	text-align: center;
	font-size: 18px;
	padding-top: 13px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 15px;
}

.agenda .row{
	margin: 10px 0;
}

.datos-actividad p{
	margin-bottom: 0;
	line-height: 100%;
}
.agenda .cuadro-gray-articulo{
	margin-bottom: 15px;
}

.mas-informacion{
	border: none;
}

.mas-informacion p{
	color: #A4A4A4;
}

.mas-informacion p.titulo-articulo{
	color: black;
}

p.titulo-extra{
	font-size: 18px;
	font-weight: normal;
	color: black;
}

p.titulo-extra-bold{
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.mas-informacion p{
	line-height: 1;
}

.mas-informacion div{
	margin: 15px 0;
}


ul li{
	list-style: none;
	font-family: sans-serif;
}

.articulo ul, .lista-footer ul{
 	padding-left: 15px;
 	margin-top: 10px;

 }

 .articulo li, .lista-footer li{
 	margin: 5px;
 	font-size: 15px;
 	font-weight: bold;
 	color: black;
 }


 .magazine{
 	margin-top: 3%;
 	padding: 8px 15px 10px 10px;
 }

.magazine .titulo-extra-bold, .titulo-extra{
	line-height: 1;
}
 .magazine-text{
 	color:black;
 	font-weight: bold;
 	font-size: 12px;
 	width: 70%;
 }

.magazine .texto-titulo{

}

footer{
	border-top: 7px solid #444;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.lista-footer{
	height: 150px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 50%;
	float: left;
}

.lista-oculta{
	display: none;
}



<span class="glyphicon glyphicon-tag"></span>