@media (max-width: 1050px) and (min-width: 768px){
	.navbar-collapse {
    padding-right: 0; 
    padding-left: 0; 
	}

    .nav-tabs>li>a{
	    padding-left: 5px;
	    padding-right: 5px;
	    text-align: center;
	    margin-right: 2px;
	    font-size: 15px;
	}
	
	.nav-tabs>li.active>a{
		padding-left: 13%;
    	padding-right: 13%;
    	border-left: 1px solid #D6D6D6;
	}

	.nav-tabs>li {
		float: none;
		display: inline-block;
		max-width: 100%;
	}
}


@media (min-width: 768px) {
	.lista-footer{
		float: left;
		width: 25%;
	}

	h1{
		color: black;
		font-size: 45px;
		text-align: left;
	}

	.navbar-default {
    background-color: #D6D6D6;
    padding-top: 50px;
    border-radius: 1px;
	}

	.cuerpo {
		margin-top: 40px;
		margin-bottom: 50px;
	}
}

@media (min-width: 992px){
	header .col-md-7 {
	    margin-top: 28px;
	}

	header .col-md-3 {
    padding-top: 9px;
	}

	.lista-footer{
		width: 20%;
	}

	.lista-oculta{
		display: block;
	}

	footer {
    padding-bottom: 70px;
	}
}




@media (max-width: 767px) {
	.nav-tabs>li {
    	float: none;
    }
    .nav-tabs>li.active>a{
    border: transparent;
	}
}


