.pdlr-2.5{
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin: auto;
}

.padding-lr-0{
	padding-left: 0;
	padding-right: 0;
}

.block{
	display: block;
}

.inline{
	display: inline-block;
}

.bg-light-gray{
	background-color: #D6D6D6;
}

.bg-lighter-gray{
	background-color: #EBEBEB;
}

.text-black{
	color: black;
}

.bold{
	font-weight: bold;
}